<footer class="footer-container">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-md="6" class="ion-text-center ion-text-md-start">
        <h4 class="footer-logo">INGENIERÍA DIGITAL</h4>
        <p>Desarrollado por Iván Bustos © 2026 Dibujo Técnico & Proyectos AutoCAD - Ionic</p>
      </ion-col>
      <ion-col size="12" size-md="6" class="ion-text-center ion-text-md-end">
        <ion-buttons class="social-buttons">
          
          <ion-button fill="clear" href="https://wa.me/56955366462?text=Hola%20Iván,%20vi%20tu%20web%20CADWEB%20y%20necesito%20un%20presupuesto" target="_blank">
            <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button fill="clear" href="https://www.linkedin.com/in/ivánbustos" target="_blank">
            <ion-icon name="logo-linkedin" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button fill="clear" href="https://github.com/recker99" target="_blank">
            <ion-icon name="logo-github" slot="icon-only"></ion-icon>
          </ion-button>

          <ion-button fill="clear" title="ivan.bustos.h@gmail.com" href="mailto:ivan.bustos.h@gmail.com?subject=Consulta%20desde%20CADWEB&body=Hola%20Iván,%20me%20gustaría%20solicitar%20un%20presupuesto%20para...">
            <ion-icon name="mail-outline" slot="icon-only"></ion-icon>
          </ion-button>

        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</footer>