<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title slot="start">
      <div class="logo-container">
        <ion-icon name="compass-outline" color="primary"></ion-icon>
        <span>INGENIERÍA DIGITAL</span>
      </div> </ion-title>

    <ion-buttons slot="end" class="desktop-menu ion-hide-md-down">
      <ion-button href="#home">Inicio</ion-button>
      <ion-button href="#servicios">Servicios</ion-button>
      <ion-button href="#portafolio">Portafolio</ion-button>
      <ion-button href="#contacto">Contacto</ion-button>
    </ion-buttons>

    <ion-buttons slot="end" class="mobile-menu ion-hide-md-up">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>