.proyecto-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  .img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #f0f0f0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // Esto evita que el plano se estire 
    }
  }

  ion-card-title {
    font-size: 1.1rem;
    font-weight: bold;
  }
}